.create-container {
    width: 100%;
    height: auto;
    border-bottom: groove;
    border-width: 1px;
    padding: 25px 25px;
    font-weight: bold;
}
    .create-container button{
        border:none;
        border-radius:5px;
    }

    .create-container .button-cancel {
        background-color: white;
        color: red;
    }

    .create-container .button-save {
        background-color: red;
        color:white;
    }
