@page "/counter"

<div class="home-component-medium">
    <HeaderComponent></HeaderComponent>
    <NavBarComponent></NavBarComponent>
    <CollectionContainerComponent></CollectionContainerComponent>
</div>